@property --led-saturation {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 50%;
}

@property --led-saturation-2 {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 50%;
}

@property --led-lightness {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 51.2%;
}

@property --led-lightness-2 {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 18.4%;
}

@property --led-reflect-size {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 10%;
}

@keyframes led-blink {
  0% {
    --led-saturation: 100%;
    --led-saturation-2: 90%;
    --led-lightness-2: 35%;
    --glow-size: 15px;
  }
  50% {
    --led-saturation: 50%;
    --led-saturation-2: 40%;
    --led-lightness-2: 10%;
    --glow-size: 5px;
  }
  100% {
    --led-saturation: 100%;
    --led-saturation-2: 90%;
    --led-lightness-2: 35%;
    --glow-size: 15px;
  }
}

led, .led {
  --led-hue: 0;
  --led-size: 20px;
  --led-saturation: 50%;
  --led-saturation-2: 40%;
  --led-lightness: 50%;
  --led-lightness-2: 15%;
  --led-reflect-size: 5%;
  --glow-size: 20px;
  --glow-lightness: 60%;
  --outline-size: 2px;
  --blink-rate: 1s;
  display: inline-block;
  width: var(--led-size);
  height: var(--led-size);
  border-radius: 100%;
  /*background: radial-gradient(circle,hsl(var(--led-hue), 41.4%, 51.2%) 0%, hsl(var(--led-hue), 57.4%, 18.4%) 100%);*/
  /*background: radial-gradient(circle,hsl(var(--led-hue), 41.4%, 51.2%) 0%, hsl(var(--led-hue), 57.4%, 18.4%) 100%);*/
  /*background: radial-gradient(circle,#c9c9c9 0%, hsl(var(--led-hue), 41.4%, 51.2%) 10%, hsl(var(--led-hue), 57.4%, 18.4%) 100%);*/
  /*background: radial-gradient(circle,#c9c9c9 0%, hsl(var(--led-hue), var(--led-saturation), var(--led-lightness)) 10%, hsl(var(--led-hue), var(--led-saturation-2), var(--led-lightness-2)) 100%);*/
  background: radial-gradient(circle,#c9c9c9 0%, hsl(var(--led-hue), var(--led-saturation), var(--led-lightness)) var(--led-reflect-size), hsl(var(--led-hue), var(--led-saturation-2), var(--led-lightness-2)) 100%);
  display: inline-block;
}

:not(ledgroup[disabled]) > led[on], .led[on] {
  --led-saturation: 100%;
  --led-saturation-2: 90%;
  --led-lightness: 50%;
  --led-lightness-2: 31.4%;
  /*box-shadow: 0px 0px var(--glow-size) hsl(var(--led-hue), 100%, 60%);*/
  box-shadow: 0px 0px var(--glow-size) hsl(var(--led-hue), 100%, var(--glow-lightness));
}

:not(ledgroup[disabled]) > led[event]:not([disabled]):hover, .led[event]:not([disabled]):hover {
  --led-saturation: 100%;
  --led-saturation-2: 90%;
  --led-lightness: 50%;
  --led-lightness-2: 31.4%;
  /*background: radial-gradient(circle, rgba(252,0,0,1) 0%, rgba(128,32,32,1) 100%);*/
  /*background: radial-gradient(circle,hsl(var(--led-hue), 100%, 60%) 0%, hsl(var(--led-hue), 60%, 31.4%) 100%);*/
  /*background: radial-gradient(circle, #ffffff 0%, hsl(var(--led-hue), 100%, 50%) 20%, hsl(var(--led-hue), 60%, 31.4%) 100%);*/
  /*background: radial-gradient(circle, #ffffff 0%, hsl(var(--led-hue), var(--led-saturation), var(--led-lightness)) 20%, hsl(var(--led-hue), var(--led-saturation-2), var(--led-lightness-2)) 100%);*/
  /*box-shadow: 0px 0px var(--led-glow) hsl(var(--led-hue), 100%, 60%);*/
}

led.blink, .led.blink, ledgroup.blink led, ledgroup[state=unknown] led {
  animation-name: led-blink, led-blink--glow;
  /*animation-name: led-blink--glow;*/
  animation-duration: calc(var(--blink-rate) * 2);
  animation-iteration-count: infinite;
  /*animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);*/
  animation-timing-function: linear;
}

:not(ledgroup[disabled]) > led[event]:not([disabled]):hover.hover-outline, .led[event]:not([disabled]):hover.hover-outline {
  outline: var(--outline-size) solid hsl(var(--led-hue), var(--led-saturation), 51.2%);
}

:not(ledgroup[disabled]) > led[event]:not([disabled]):hover.hover-glow, .led[event]:not([disabled]):hover.outline.hover-glow, .hover-glow:not(ledgroup[disabled]) > led[event]:not([disabled]):hover, .hover-glow.led[event]:not([disabled]):hover.outline {
  box-shadow: 0px 0px calc(var(--glow-size) / 2) hsl(var(--led-hue), 100%, var(--glow-lightness));
}

ledgroup, .led-group {
  display: inline-block;
}

ledgroup > led:not(:last-child), .led-group > .led:not(:last-child), led-group > .led:not(:last-child) {
  margin-right: 10px;
}

ledgroup[state=unknown] led, ledgroup[state=loading] led {
  --led-saturation: 50%;
  --led-saturation-2: 40%;
  box-shadow: none !important;
}

ledgroup[disabled] led, led[disabled], .led[disabled], ledgroup[state=unknown] led:not([on]) {
  --led-saturation: 0% !important;
  --led-saturation-2: 0% !important;
  /*background: radial-gradient(circle,#c9c9c9 0%, hsl(var(--led-hue), 0%, 51.2%) 10%, hsl(var(--led-hue), 0%, 18.4%) 100%);*/
  box-shadow: none !important;
}

#led_error-5 {
}

led.no-glow, .led.now-glow {
  box-shadow: none !important;
}

