.login-box {
  width: 250px;
  height: 350px;
  display: block;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(31,36,48);
  border: 2px solid black;
  border-radius: 10px;
}

.login-box h3, .login-box h4 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid black;
}

#user_input, #pass_input {
  display: block !important;
  width: 180px;
  margin: 30px auto 20px auto;
  background-color: black;
  color: white;
  border-color: gray;
}

#login_btn {
  position: relative;
  width: 150px;
  left: calc(50% - 75px);
  margin-top: 15px;
}

#login_msg {
  display: block;
  margin-top: 20px;
  color: rgb(157,7,7);
  text-align: center;
}

#esp_reset_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #950000 !important;
  width: 150px;
  height: 50px;
}

#blocking_message {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  color: white;
}

#blocking_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9998;
  top: 0px;
}

