pre.json {
  color: #b1b1b1;
  padding: 20px;
}

.string {
  color: #dc4800;
}

.number {
  color: darkorange;
}

.boolean {
  color: #00baba;
}

.null {
  color: magenta;
}

.key {
  color: #c162e0;
}

#global_status {
  background-color: rgb(122 122 122 / 6%);
  border: #0000007d 10px double;
}

