@property --rstbut-c1 {
  syntax: '<color>';
  inherits: false;
  initial-value: rgba(149,0,0,1);
}

@property --rstbut-c2 {
  syntax: '<color>';
  inherits: false;
  initial-value: rgba(78,0,0,1);
}

#esp_reset_btn {
  --rstbut-c1: rgba(149,0,0,1);
  --rstbut-c2: rgba(78,0,0,1);
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #950000 !important;
  width: 150px;
  height: 50px;
  z-index: 9999;
  transition: --rstbut-c1 0.5s;
  transition: --rstbut-c2 0.5s;
  /*transition: color 0.5s;*/
  background: radial-gradient(circle, var(--rstbut-c1) 0%, var(--rstbut-c2) 100%);
}

#esp_reset_btn:active {
  --rstbut-c1: rgba(78,0,0,1);
  --rstbut-c2: rgba(149,0,0,1);
  /*background-color: black !important;*/
  transition: --rstbut-c1 0.5s;
  transition: --rstbut-c2 0.5s;
  /*transition: color 0.5s;*/
  /*background: radial-gradient(circle, var(--rstbut-c2) 0%, var(--rstbut-c1) 100%);*/
  color: black;
}

#theme_select {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 20px;
}

#theme_hue {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 180px;
  width: 180px;
}

