.device-heading, .sub-status-heading {
  /*width: var(--device-status-width);*/
  margin: auto;
  border-bottom: 5px solid rgba(255,255,255,0.15);
  border-bottom-style: double;
}

.device-heading.sub-list .col {
  padding-top: 50px;
  padding-bottom: 10px;
}

.device-heading .col:nth-child(2) {
  text-align: center;
}

.device-heading .col:nth-child(3) {
  text-align: end;
}

.device-heading .col {
  position: relative;
}

.device-heading h4 {
  display: inline-block;
  margin-top: 17px;
}

.device-heading span {
  display: inline-block;
  /*position: relative;*/
  text-align: center;
}

.device-heading h1:after {
  /*line-height: 0px;*/
  /*margin-top: -40px;*/
  /*position: absolute;*/
  /*top: 0px;*/
}

