.login-box {
  width: 250px;
  height: 350px;
  display: block;
  background: linear-gradient(45deg, rgba(30,39,62,1) 0%, rgb(31,43,48) 100%);
  /*border: 2px solid #0e0e0e;*/
  border-radius: 20px;
  position: fixed;
  left: calc(100vw / 2 - 125px);
  top: calc(100vh / 2 - 275px);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.login-box h3, .login-box h4 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid black;
}

#user_input, #pass_input {
  display: block !important;
  width: 180px;
  margin: 30px auto 20px auto;
  background-color: #141414;
  color: white;
  border-color: #303030;
}

#login_btn {
  position: relative;
  width: 150px;
  left: calc(50% - 75px);
  margin-top: 15px;
}

#login_msg {
  display: block;
  margin-top: 20px;
  color: rgb(157,7,7);
  text-align: center;
}

