#blocking_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 998;
  top: 0px;
}

#blocking_message {
  position: fixed;
  top: 50%;
  z-index: 9999;
  color: white;
}

#blocking_message > * {
  display: block;
  margin: auto;
  text-align: center;
  color: inherit;
}

