/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: #0c0025;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  background: #3a0196;
  background: #5f438c;
  background: linear-gradient(0deg, rgba(71,1,115,1) 0%, rgba(95,67,140,1) 100%);
  background: radial-gradient(circle, rgba(95,67,140,1) 0%, rgba(71,1,115,1) 100%);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
  background: #5d0196;
  background: linear-gradient(180deg, rgba(71,1,115,1) 0%, rgba(95,67,140,1) 100%);
  /*background: radial-gradient(circle, rgba(71,1,115,1) 0%, rgba(95,67,140,1) 100%);*/
}

