.status-list [status-content], .config-list[config-content] {
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.status-list *, .config-list * {
  overflow-y: visible;
}

.status-list > h3, .config-list > h3 {
  /*border-bottom: 1px solid #929292;*/
  margin-bottom: 20px;
  width: fit-content;
  min-width: calc(var(--device-status-width) - 22px);
}

.status-list > hr, .config-list > hr {
  width: var(--device-status-width);
}

.status-list button[action=border-toggle], .config-list button[action=border-toggle] {
  position: relative;
  width: 150px;
}

.status-list button[action=hide-content], .config-list button[action=hide-content] {
  position: relative;
  width: 60px;
}

.status-list [action=border-toggle]:nth-of-type(2), .config-list [action=border-toggle]:nth-of-type(2) {
  bottom: 10px;
}

.status-list table {
  display: table;
  max-width: var(--device-status-width);
}

.status-list table td {
  border-color: #616d7d;
}

.status-list table td:nth-child(1) {
  color: #8fc3da;
}

.status-list table:not(.table-tree) td {
  width: 50%;
}

.status-list table.table-tree td:nth-child(1) {
  width: 25%;
}

.status-list table.table-tree td:nth-child(2) {
  width: 75%;
}

.status-list table table td {
  /*width: 50% !important;*/
}

