.webupdate #file_input {
  display: inline-block;
  width: auto;
  margin: 20px;
}

.webupdate #error_message {
  margin-left: 20px;
  color: gray;
}

.webupdate #error_message.error {
  color: red;
}

.webupdate #error_message.message {
  color: rgb(0,183,0);
}

.webupdate #status_message {
  text-align: center;
  color: white;
  display: block;
  font-size: 25px;
}

#update_progress {
  background-color: rgb(24,24,24);
  color: red;
  height: 30px;
  width: 70%;
  margin: auto;
}

#update_progress .progress-bar {
  background-color: rgb(3,126,8) !important;
}

#debug_output {
  width: 50%;
  margin: auto;
  margin-top: 40px;
  padding: 25px;
  background-color: rgb(14,14,14);
  border-color: gray;
  min-height: 250px;
  color: green;
  font-size: 12px;
  max-height: 500px;
  overflow: auto;
}

#debug_output p {
  color: green;
}

